<%- include("../partials/header") %>
<div class="container mt-5">
    <div class="container jumbotron">    
<h1>Welcome to YelpCamp!</h1>
<p>View our hand-picked campgrounds</p>
<a href="/campgrounds/new"  class="btn btn-large btn-primary">Add New Campground</a>
</div>    

<div class="row text-center">
    <% campgrounds.forEach(function(campground){ %>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="img-thumbnail mb-1">
    <img src="<%= campground.image %>" style="width: 150px; height: 100px;" alt="Unable to load image due to network issues">
                   <div>
                    <h4 class="text-break"><%= campground.name %></h4>
                    <a href="/campgrounds/<%= campground._id %>">More Info</a>
                   </div>
                </div>
        </div>
     <% }) %> 
</div>
    <%- include("../partials/footer") %>
</div>
